/* @import "style-general.css";
@import "navbar.css";
@import "style-small.css";
@import "style-med.css";
@import "style-large.css"; */

@import "./style-general.css";
@import "./navbar.css";
@import "./style-small.css";
@import "./style-med.css";
@import "./layout.css";
