/* Large Screens Style */
@media (min-width: 601px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    filter: drop-shadow(0 0 0.75rem #777);
    width: 80%;
    border: 1px solid #e1e2e1;
  }

  .header {
    flex: 1;
    order: 0;
    background-color: silver;
    padding: 20px;
  }

  .nav {
    flex: 1;
    order: 0;
    background-color: #619ee9;
    filter: drop-shadow(0.2rem 0.2rem 0.75rem gray);
  }

  .wrapper {
    display: flex;
    height: 100%;
    background-color: #fff;
    padding: 1rem;
    text-align: justify;
    z-index: -1;
  }

  .main {
    flex: 3;
    order: 1;
    background-color: #f1f1f1;
  }
  .sidebar {
    flex: 1;
    order: 2;
    background-color: #f1f1f1;
    font-size: 0.8rem;
    border-left: 1px solid #888;
    z-index: -1;
  }

  .footer {
    flex: 1;
    order: 3;
    background: silver;
    color: #00395e;
    bottom: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: lighter;
  }

  .container div {
    padding: 0.1em;
  }

  /* Homepage post blocks/cards*/
  .card {
    display: grid;
    /* grid-template-columns: 60% 40%; */
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: "text image";
    background-color: #fbedc5;
    margin: 1vw;
    /* Add shadows to create the "innerGrid or card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  }

  /* Homepage post blocks/cards*/
  .innergrid {
    display: grid;
    /* grid-template-columns: 60% 40%; */
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: "text image";
    background-color: #fbedc5;
    margin: 1vw;
  }

  .content {
    margin: 25px;
  }

  .text {
    grid-area: text;
    margin: 20px;
  }

  figure {
    grid-area: image;
    margin: 20px 20px 0 0;
  }
}
