body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  color: #333;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #000;
}

/* Large Screens */
@media (min-width: 601px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    filter: drop-shadow(0 0 0.75rem #777);
    width: 80%;
    border: 1px solid #e1e2e1;
  }

  .nav {
    flex: 1;
    background-color: #619ee9;
    filter: drop-shadow(0.2rem 0.2rem 0.75rem gray);
  }

  .header {
    flex: 1;
    background-color: silver;
    padding: 20px;
  }

  .wrapper {
    display: flex;
    height: 100%;
    background-color: #fff;
    padding: 1rem;
    text-align: justify;
    z-index: -1;
  }

  .main {
    flex: 3;
    background-color: #f1f1f1;
  }

  .sidebar {
    flex: 1;
    background-color: #f1f1f1;
    font-size: 0.8rem;
    border-left: 1px solid #888;
    z-index: -1;
  }

  .footer {
    flex: 1;
    background: #999;
    color: #fff;
    bottom: 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: lighter;
  }

  .container div {
    padding: 0.1em;
  }
  .innergrid {
    display: grid;
    min-height: max-content;
    /* grid-template-columns: 60% 40%; */
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: "text image";
    background-color: #fbedc5;
    margin: 1vw;
    /* Add shadows to create the "innerGrid or card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  /* On mouse-over, add a deeper shadow */
  .innergrid:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .content {
    margin: 25px;
  }

  .text {
    grid-area: text;
    margin: 20px;
  }

  figure {
    grid-area: image;
    margin: 20px 20px 0 0;
  }

  img {
    max-width: 100%;
    border-radius: 7px 7px 0 0;
  }

  figcaption {
    padding: 10px;
    border-radius: 0 0 7px 7px;
    background-color: #d1d1d1;
    text-align: justify;
    font-size: 0.8em;
    color: #00395e;
  }

  .author {
    width: 100%;
    font-size: 0.8rem;
    position: relative;
    padding-bottom: 25px;
    color: #00395e;
  }

  .footer1 {
    flex: 1;
    order: 5;
    background-color: #999;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    font-weight: lighter;
  }

  a {
    color: #00395e;
    font-size: 0.8rem;
    font-style: oblique;
    text-decoration: none;
  }

  a:hover {
    color: #e20707;
  }

  em {
    color: #00395e;
  }
}
