ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #53a1ff;
  color: #000;
}

.sidebar ul > li > a {
  color: #00395e;
  font-size: 0.8rem;
  font-style: oblique;
  padding: 0;
  margin: 0;
}

.sidebar ul > li > a:hover {
  color: #00395e;
  background-color: transparent;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
