/* Medium Screens */
@media (min-width: 600px) and (max-width: 900px) {
  .container {
    /* Step 1: Set display to grid */
    display: grid;
    width: 100%;
    /* Step 2: setup rows amd columns */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 70% 30%;
    grid-template-rows: 100px 50px 1200px;
    grid-template-areas:
      'header header'
      'menu menu'
      'content sidebar'
      'footer footer';
    border: 1px solid #dbe2e8;
  }
}
