body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  color: #333;
  background-color: #fff;
}

img {
  max-width: 100%;
  border-radius: 7px 7px 0 0;
}

figcaption {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 0 0 7px 7px;
  background-color: #d1d1d1;
  text-align: justify;
  font-size: 0.8em;
  color: #00395e;
}

.author {
  width: 100%;
  font-size: 0.8rem;
  position: relative;
  padding-bottom: 25px;
  color: #00395e;
}

a {
  color: #00395e;
  font-size: 0.8rem;
  font-style: oblique;
  text-decoration: none;
}

a:hover {
  color: #e20707;
}

em {
  color: #00395e;
}

.btn {
  display: inline-block;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 7px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 15px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.center {
  margin: auto;
  width: 50%;
}
