.container {
  /* Step 1: Set display to grid */
  display: grid;
  width: 100%;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  /* Step 2: setup rows amd columns */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 100%;
  grid-template-rows: 100px 50px 1200px;
  grid-template-areas:
    'header'
    'menu'
    'content'
    'sidebar'
    'footer';
  border: 1px solid #dbe2e8;
}

.sidebar {
  grid-area: sidebar;
  background-color: silver;
  font-size: 0.8rem;
  padding: 5px;
  border-right: 1px solid #6e6e6e;
}

.content {
  grid-area: content;
  background-color: #fff;
  padding: 20px;
  text-align: justify;
  text-indent: 15px;
}

.footer {
  grid-area: footer;
  background-color: #444;
  color: #fff;
  padding: 10px;
}

.box {
  filter: drop-shadow(0 0 0.75rem rgb(97, 96, 96));
}
