/* Large Screens */
@media (min-width: 901px) {
  .container {
    /* Step 1: Set display to grid */
    display: grid;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 0.75rem rgb(97, 96, 96));
    width: 80%;
    /* Step 2: setup rows amd columns */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px 50px 1200px;
    grid-template-areas:
      "header header"
      "menu menu"
      "content sidebar"
      "footer footer";
    border: 1px solid #dbe2e8;
  }
}
